# Ch12 結果匯出

## 匯出為Excel工作簿
### 設定檔案匯出路徑

In [14]:
import pandas as pd
data = {"使用者ID":[59224,55295,46035,2459,22179,22557],
        "客戶分類":["A類","B類","A類","C類","B類","A類"],
         "區域":["北區","南區","中區","北區","南區","中區"],
         "7月銷量":[6,37,8,7,9,42],
         "8月銷量":[20,27,1,8,12,20],
         "9月銷量":[0,35,8,14,4,55]}
df = pd.DataFrame(data)

In [15]:
df

   使用者ID 客戶分類  區域  7月銷量  8月銷量  9月銷量
0  59224   A類  北區     6    20     0
1  55295   B類  南區    37    27    35
2  46035   A類  中區     8     1     8
3   2459   C類  北區     7     8    14
4  22179   B類  南區     9    12     4
5  22557   A類  中區    42    20    55

In [16]:
df.to_excel(excel_writer = "../測試文件.xlsx")

### 設定Sheet名稱

In [17]:
df.to_excel(excel_writer = r"..\測試文件2.xlsx", sheet_name = "測試文件")

### 設定索引

In [18]:
df.to_excel(excel_writer = r"..\匯出文件.xlsx",
             sheet_name = "測試文件",
             index = False)

### 設定要匯出的欄位

In [19]:
df.to_excel(excel_writer = r"..\匯出文件2.xlsx",
             sheet_name = "測試文件",
             index = False,
             columns = ["使用者ID","7月銷量","8月銷量","9月銷量"])

### 設定編碼格式

In [20]:
df.to_excel(excel_writer = r"..\匯出文件3.xlsx",
             sheet_name = "測試文件",
             index = False,
             encoding = "utf-8"
           )

### 缺失值處理

In [21]:
df.to_excel(excel_writer = r"..\匯出文件4.xlsx",
             sheet_name = "測試文件",
             index = False,
             encoding = "utf-8",
             na_rep = 0 #缺失值填充為0
             )

### 無窮值處理

In [22]:
float("inf")

inf

In [23]:
float("-inf")

-inf

## 匯出為.csv檔

In [24]:
import numpy as np
data20 = {"使用者ID":[59224,55295,46035,2459,22179,22557],
        "客戶分類":["A類","B類","A類","C類","B類","A類"],
         "區域":["北區","南區","中區","北區","南區","中區"],
         "7月銷量":[6,np.inf,8,7,9,42],
         "8月銷量":[20,27,1,8,12,20],
         "9月銷量":[0,35,8,14,4,55]}
df = pd.DataFrame(data20)
df

   使用者ID 客戶分類  區域  7月銷量  8月銷量  9月銷量
0  59224   A類  北區   6.0    20     0
1  55295   B類  南區   inf    27    35
2  46035   A類  中區   8.0     1     8
3   2459   C類  北區   7.0     8    14
4  22179   B類  南區   9.0    12     4
5  22557   A類  中區  42.0    20    55

In [25]:
df.to_excel(excel_writer = r"..\匯出文件.xlsx",
             sheet_name = "測試文件",
             index = False,
             encoding = "utf-8",
             na_rep = 0,#缺失值填充為0
             inf_rep = 0#無窮值填充為0             
)

### 設定檔案匯出路徑

In [26]:
df.to_csv(path_or_buf = r"..\匯出文件.csv")

### 設定索引

In [27]:
df.to_csv(path_or_buf = r"..\匯出文件2.csv",
             index = False)

### 設定要匯出的欄位

In [28]:
df.to_csv(path_or_buf = r"..\匯出文件3.csv",
             index = False,
             columns = ["用戶ID","7月銷量","8月銷量","9月銷量"])

C:\ANACONDA\Anaconda37\lib\site-packages\pandas\core\indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

### 設定分隔符號

In [29]:
df.to_csv(path_or_buf = r"..\匯出文件4.csv",
             index = False,
             columns = ["用戶ID","7月銷量","8月銷量","9月銷量"],
             sep = ",")

### 缺失值處理

In [30]:
df.to_csv(path_or_buf = r"..\匯出文件5.csv",
             index = False,
             columns = ["用戶ID","7月銷量","8月銷量","9月銷量"],
             sep = ",",
             na_rep = 0)

### 設定編碼格式

In [31]:
df.to_csv(path_or_buf = r"..\匯出文件6.csv",
             index = False,
             columns = ["用戶ID","7月銷量","8月銷量","9月銷量"],
             sep = ",",
             na_rep = 0,
             encoding = "big5")

## 將檔案匯出到多個Sheet

In [32]:
data1 = {"使用者ID":[59224,55295,46035,2459,22179,22557],
        "客戶分類":["A類","B類","A類","C類","B類","A類"],
         "區域":["北區","南區","中區","北區","南區","中區"],
         "7月銷量":[6,37,8,7,9,42]}
df1 = pd.DataFrame(data1)         
df1

   使用者ID 客戶分類  區域  7月銷量
0  59224   A類  北區     6
1  55295   B類  南區    37
2  46035   A類  中區     8
3   2459   C類  北區     7
4  22179   B類  南區     9
5  22557   A類  中區    42

In [33]:
data2 = {"使用者ID":[59224,55295,46035,2459,22179,22557],
        "客戶分類":["A類","B類","A類","C類","B類","A類"],
         "區域":["北區","南區","中區","北區","南區","中區"],
         "8月銷量":[20,27,1,8,12,20]}
df2 = pd.DataFrame(data2)
df2

   使用者ID 客戶分類  區域  8月銷量
0  59224   A類  北區    20
1  55295   B類  南區    27
2  46035   A類  中區     1
3   2459   C類  北區     8
4  22179   B類  南區    12
5  22557   A類  中區    20

In [34]:
data3 = {"使用者ID":[59224,55295,46035,2459,22179,22557],
        "客戶分類":["A類","B類","A類","C類","B類","A類"],
         "區域":["北區","南區","中區","北區","南區","中區"],
         "9月銷量":[0,35,8,14,4,55]}
df3 = pd.DataFrame(data3)
df3

   使用者ID 客戶分類  區域  9月銷量
0  59224   A類  北區     0
1  55295   B類  南區    35
2  46035   A類  中區     8
3   2459   C類  北區    14
4  22179   B類  南區     4
5  22557   A類  中區    55

In [35]:
#宣告一個讀寫物件
#excelpath為檔案要存放的路徑與檔名
excelpath = "../12-3.xlsx"
writer = pd.ExcelWriter(excelpath,engine = "xlsxwriter")

#分別將表df1、df2、df3寫入Excel中的Sheet1、Sheet2、Sheet3
#並命名為7月、8月、9月
df1.to_excel(writer,sheet_name = "7月")
df2.to_excel(writer,sheet_name = "8月")
df3.to_excel(writer,sheet_name = "9月")

#保存讀寫的內容
writer.save()

In [36]:
print('Done!')

Done!